    *{margin:0;padding:0;list-style-type:none;}
    /*a,img{border:0;}*/
    /*body{font:12px/180% Arial, Helvetica, sans-serif, "新宋体";text-align:center;}*/
    .demo{width:712px;margin:0px ;}
    .div_table{height: 194px;width: 430px;margin: auto;}
    .demo_talbe{ float:left;}
    .p_div{width:712px;margin:10px 0 0 0;}
    /* tablescroll */
    .tablescroll{font:12px normal Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;background-color:#fff;}
    .tablescroll td,.tablescroll_wrapper,.tablescroll_head,.tablescroll_foot{border:1px solid #ccc;}
    .tablescroll td{padding:5px;}
    .tablescroll_wrapper{border-left:0;}
    .tablescroll_head{font-size:12px;font-weight:bold;background-color:#eee;border-left:0;border-top:0;margin-bottom:3px;}
    .tablescroll thead td{border-right:0;border-bottom:0;}
    .tablescroll tbody td{border-right:0;border-bottom:0;}
    .tablescroll tbody tr.first td{border-top:0;}
    .tablescroll_foot{font-weight:bold;background-color:#eee;border-left:0;border-top:0;margin-top:3px;}
    .tablescroll tfoot td{border-right:0;border-bottom:0;}
    .word{}
     .trSelected{
    background-color: #51b2f6;
}