{% extends "admin_edit_base.html" %}
{% set activeMenu = "menu_organization_new" %}
{% block mainTitle %}组织管理{% endblock %}
{% block breadcrumbs %}
<ol class="breadcrumb">
    <li>
        <a href="{{ url_for('main.user_info',userId=current_user.user_id,selected_id=1) }}">主页</a>
    </li>
    <li>
        <a href="{{ url_for('main.admin_organization_list') }}">组织列表</a>
    </li>
    {% if flag=="1" %}
        <li class="active">
            <strong>{{ form.name.data }}</strong>
        </li>
    {% else %}
    <li class="active">
        <strong>新建</strong>
    </li>
    {% endif %}
</ol>
{% endblock %}
{% block mainContent %}
    <form class="form-horizontal" method="post"
          action="{{ url_for('main.admin_organization_new') }}">
    <div class="ibox ibox-title">新建组织</div>
    <div class="ibox ibox-content">
        {{ form.hidden_tag() }}
        {% if flag=="1" %}
            {{ render_text(form.name) }}
        {% endif %}
        {{ render_text(form.email) }}
        {{ render_text(form.pieces) }}
        {{ render_button("main.admin_organization_list") }}
    </div>
    </form>
{% endblock %}