{% extends "admin_list_base.html" %}
{% from "html_utils.html" import table_select %}
{% set activeMenu = "menu_organization_list" %}
{% block mainTitle %}组织管理{% endblock %}
{% block breadcrumbs %}
            <ol class="breadcrumb">
                <li>
                    <a href="{{ url_for('main.user_info',userId=current_user.user_id,selected_id=1) }}">主页</a>
                </li>

                <li class="active">
                    <strong>组织列表</strong>
                </li>
            </ol>
{% endblock %}
{% block iboxtitle %}
组织列表
{% endblock %}
{% block tableHead %}
    {{ table_select("all") }}
    <th>用户名</th>
    <th>邮箱</th>
    <th>片数</th>
{#    <th>单位</th>#}
    <th>身份</th>
{% endblock %}
{% block tableRow %}
    {{ table_select(item.user_id) }}
    <td><a href="{{ url_for('main.admin_edit_organization',organizationId=item.user_id) }}">{{ item.user_name }}</a></td>
    <td>{{ item.user_email }}</td>
    <td><span class="label label-primary"> {{ item.user_pieces }}</span></td>
{#    <td>{{ item.user_company }}</td>#}
    <td>{{ item.user_role_type }}</td>
{% endblock %}